<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HitsEntities" connectionString="metadata=res://*/Models.HitsModel.csdl|res://*/Models.HitsModel.ssdl|res://*/Models.HitsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDO1928\SQLExpress;initial catalog=Hits;persist security info=True;user id=tucurator1;password=Asd123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>